@model Projeto_final.Models.Usuario

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
      <div class="container">
          <form asp-action="Login" class="form-control">
            <p class="title">Login</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <input asp-for="EmailUsuario" class="input" type="text"/>
                <label asp-for="EmailUsuario" class="label" for="input">Digite seu email</label>
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            <div class="input-field">
                <input asp-for="SenhaUsuario" class="input" type="password"/>
                <label asp-for="SenhaUsuario" class="label" for="input">Digite sua senha</label>
                <span asp-validation-for="SenhaUsuario" class="text-danger"></span>
            </div>
            <a class="forget">Esqueceu sua senha?</a>
            <input type="submit" value="Login" class="submit-btn" />
        </form>
      </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
